* {
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 40px;
  color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("./images/background.jpg");
}

h1 {
  text-align: center;
}

.game-container {
  width: 484px;
}

.game-board {
  border: 2px solid green;
  position: relative;
  background-color: #fdfd96;
}

h1 {
  font-size: 40px;
}

.score {
  justify-content: space-between;
  display: flex;
  font-size: 32px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid black;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.cell-bomb {
  background-color: rgb(241, 117, 78);
  background-image: url("./images/bomb.png");
  background-size: contain;
  cursor: not-allowed;
}

.cell-flag {
  background-image: url("./images/flag.png");
  background-size: contain;
}

.cell-number-low {
  text-align: center;
  color: green;
}
.cell-number-medium {
  text-align: center;
  color: yellow;
}
.cell-number-high {
  text-align: center;
  color: red;
}

.end-game-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: rgba(241, 117, 78, 0.5);
}

.win {
  background-color: rgba(0, 200, 0, 0.5);
}

.end-game-text {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Press Start 2P";
}

.btn {
  font-size: 24px;
  font-family: sans-serif;
  padding: 4px 20px 4px 20px;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid rgb(0, 23, 50);
}

.btn:hover {
  background-color: rgb(203, 224, 221);
}

.hidden {
  display: none;
}

.cell-clicked {
  background-color: rgb(157, 197, 199);
  cursor: not-allowed;
}
